<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

<!--<p *ngIf="loading" class="text-center text-lg">Loading...</p>-->

<table class="tbl">
  <thead>
  <tr>
    <th>Название</th>
    <th>URL</th>
    <th>Действие</th>
  </tr>
  </thead>

  <!--<tbody>
  <app-project *ngFor="let project of projects"
               [project]= "project">
  </app-project>-->

  <!--<tr>
    <td>Alan</td>
    <td>Jellybean</td>
    <td>$3.76</td>
  </tr>
  <tr>
    <td>Jonathan</td>
    <td>Lollipop</td>
    <td>$7.00</td>
  </tr>-->
  <!--</tbody>-->
</table>

<app-project *ngFor="let project of projects"
             [project]= "project">
</app-project>
