<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

<p *ngIf="loading" class="text-center text-lg">Loading...</p>

<div class="d2">
    <input placeholder="Искать здесь..." id="search-project" type="text" class="validate" [(ngModel)]="searchNameStr">
</div>

<table class="tbl">
  <thead>
  <tr>
    <th>Название</th>
    <th>URL</th>
    <th>Действие</th>
  </tr>
  </thead>
</table>

<app-project *ngFor="let project of projects | search_name: searchNameStr"
             [project]= "project">
</app-project>
