<body>
<h1><span style="font-size:36px">Jira analyzer</span></h1>

<p>&nbsp;</p>

<p><span style="font-size:20px">Данное приложение позволяет осуществить аналитику по проектам из открытых источников Jira.</span></p>

<p><br />
  <span style="font-size:20px">Добавить проекты для аналитики вы можете на странице &quot;Проекты&quot;.</span></p>

<p><br />
  <span style="font-size:20px">Посмотреть статистику по скачанным проектам и выполнить аналитические задачи для выбранных проектов вы можете через страницу &quot;Меню&quot;. Результат выполнения аналитических задач будет представлен в виде графиков. Для выполнения доступны 6 различных аналитических задач:</span></p>

<p><span style="font-size:20px">&nbsp; 1. Гистограмма, отражающая время, которое задачи провели в открытом состоянии.<br />
&nbsp; 2. Диаграммы, которые показывают распределение времени по состоянием задач.<br />
&nbsp; 3. График активности по задачам (показывает количество заведенных и закрытых задач в день).<br />
&nbsp; 4. График сложности задач (отражает залогированное время, которое потратил участник на ее выполнение).<br />
&nbsp; 5. График, отражающий приоритетность всех задач.<br />
&nbsp; 6. График, отражающий приоритетность закрытых задач.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px">Провести сравнение по проектам можно перейдя на страницу &quot;Сравнение&quot;. Обратите внимание на то, что в результате сравнения проектов будут построены только те сводные диаграммы, аналитика, для которых вызывалась у всех проектов, которые вы хотите сравнить.</span></p>
</body>
