<div class="body">
  <h3>
    <a href="http://localhost:4200/myprojects">
      Мои проекты
    </a>
    > {{ projects[0].toString() }}
  </h3>
  <div class="container">
    <div class="chart" id="open-task" [chart]="openTaskChart"></div>
    <div class="chart" id="open-state" [chart]="openStateChart"></div>
    <div class="chart" id="resolve-state" [chart]="resolveStateChart"></div>
    <div class="chart" id="progress-state" [chart]="progressStateChart"></div>
    <div class="chart" id="reopen-state" [chart]="reopenStateChart"></div>
    <div class="chart" id="activity-by-task" [chart]="activityByTaskChart"></div>
    <div class="chart" id="complexity-task" [chart]="complexityTaskChart"></div>
    <div class="chart" id="task-priority" [chart]="taskPriorityChart"></div>
    <div class="chart" id="close-task-priority" [chart]="closeTaskPriorityChart"></div>
  </div>
</div>
