<div class="body">
  <h3 *ngIf="projects.length == 2">
    <a href="http://localhost:4200/compare">
      Сравнение
    </a>
    > {{ projects[0].toString() + " vs " + projects[1].toString()}}
  </h3>
  <h3 *ngIf="projects.length == 3">
    <a href="http://localhost:4200/compare">
      Сравнение
    </a>
    > {{ projects[0].toString() + " vs " + projects[1].toString() + " vs " + projects[2].toString()}}
  </h3>
  <div class="container">
    <table class = "tbl" id="table1">
      <thead>
      <tr class="soft_stat_header" id="soft_stat_header">
        <th>Сухая статистика</th>
        <th *ngFor="let project of projects">
          {{project.toString()}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr id="summary_task_count">
        <td>Общее количество задач</td>
        <td *ngFor="let stat of resultReq">
          {{stat.allIssuesCount}}
        </td>
      </tr>
      <tr id = "open_task_count">
        <td>Количество открытых задач</td>
        <td *ngFor="let stat of resultReq">
          {{stat.openIssuesCount}}
        </td>
      </tr>
      <tr id = "close_task_count">
        <td>Количество закрытых задач</td>
        <td *ngFor="let stat of resultReq">
          {{stat.closeIssuesCount}}
        </td>
      </tr>
      <tr id = "reopen_task_count">
        <td>Количество переоткрытых задач</td>
        <td *ngFor="let stat of resultReq">
          {{stat.reopenedIssuesCount}}
        </td>
      </tr>
      <tr id = "resolved_task_count">
        <td>Количество разрешенных задач</td>
        <td *ngFor="let stat of resultReq">
          {{stat.resolvedIssuesCount}}
        </td>
      </tr>
      <tr id = "progress_task_count">
        <td>Количество задач со статусом "In progress"</td>
        <td *ngFor="let stat of resultReq">
          {{stat.progressIssuesCount}}
        </td>
      </tr>
      <tr id = "average_task_time">
        <td>Среднее время выполнения задачи(часы)</td>
        <td *ngFor="let stat of resultReq">
          {{stat.averageTime}}
        </td>
      </tr>
      <tr id = "average_task_count">
        <td>Среднее количество заведенных задач в день за последнюю неделю</td>
        <td *ngFor="let stat of resultReq">
          {{stat.averageIssuesCount}}
        </td>
      </tr>
      </tbody>
    </table>

    <p id ="open-task-title">Гистограмма, отражающая время, которое задачи провели в открытом состоянии</p>
    <div class="chart" id="open-task" [chart]="openTaskChart"></div>
    <p id ="open-state-title">Диаграмма, демонстрирующая распределение времени по состоянию "Open"</p>
    <div class="chart" id="open-state" [chart]="openStateChart"></div>
    <p id ="resolve-state-title"> Диаграмма, демонстрирующая распределение времени по состоянию "Resolve"</p>
    <div class="chart" id="resolve-state" [chart]="resolveStateChart"></div>
    <p id ="progress-state-title"> Диаграмма, демонстрирующая распределение времени по состоянию "Progress"</p>
    <div class="chart" id="progress-state" [chart]="progressStateChart"></div>
    <p id ="reopen-state-title">Диаграмма, демонстрирующая распределение времени по состоянию "Reopen" </p>
    <div class="chart" id="reopen-state" [chart]="reopenStateChart"></div>
    <p id ="activity-by-task-title">График активности по задачам</p>
    <div class="chart" id="activity-by-task" [chart]="activityByTaskChart"></div>
    <p id ="complexity-task-title">График сложности задач </p>
    <div class="chart" id="complexity-task" [chart]="complexityTaskChart"></div>
    <p id ="task-priority-title">График, отражающий приоритетность всех задач </p>
    <div class="chart" id="task-priority" [chart]="taskPriorityChart"></div>
    <p id ="close-task-priority-title">График, отражающий приоритетность закрытых задач </p>
    <div class="chart" id="close-task-priority" [chart]="closeTaskPriorityChart"></div>
  </div>

</div>

