<header>
  <a href="" class="logo">Лого</a>
  <div class="rectangle">
  <nav>
    <ul class="topmenu_main">
      <li><a routerLink="/projects">Проекты</a></li>
      <li><a routerLink="/tasks">Сравнение</a></li>
      <li><a routerLink="/backgroundtasks" class="submenu-link">Меню</a>
        <ul class="submenu">
          <li><a routerLink="/myprojects">Добавленные проекты</a></li>
          <li><a routerLink="/inwaiting">Сведения о системе</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  </div>
</header>
<br>

<div class="container">
  <router-outlet></router-outlet>
</div>
